<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=tollboothsa;AccountKey=VcktvsKB/YBWrp+sWmw9jiuQVSlmHeIjj9rr/Su5VSonEPEPlR4X+hzVYH28/yfZRPr4GB5zNSTBeMK2+itPGQ==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>